.Leftside{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 3rem;
    background-color: rgba(232, 232, 232, 0.486);
    padding-left: 2rem;
}

.profile{
    display: grid;
    grid-template-rows: 6rem 21rem 19rem;
}

.transaction{
    margin-top: 1rem;
}

.profileInfo p:first-of-type{
    font-size: 1.4rem;
    font-weight: 500;
}
.Balance p:first-of-type{
    font-size: 1.8rem;
}
.Balance :last-of-type{
    opacity: 0.4;
}
.Year-to-Date p:first-of-type{
    font-size: 1.3rem;
    font-weight: 500;
}
.Year-to-Date :last-of-type{
    opacity: 0.4;
}
.Totalinterest p:first-of-type{
    font-size: 1.3rem;
    font-weight: 500;
}
.Totalinterest :last-of-type{
    opacity: 0.4;
}
.profileTransaction p:first-of-type{
    font-size: 1.2rem;
    font-weight: 500;
}
.transaction  p:first-of-type{
    opacity: 0.4;
    font-size: 1rem;
}
.transaction :last-of-type{
    font-weight: 500;
}
.profileTransaction hr{
    width: 96%;
    color: gray;
}
.button {
    margin-top: 2rem;
    color: rgba(40, 40, 208);
    font-size: 1rem;
}
.profilePic{
    display: grid;
    grid-template-columns: 7rem 10rem;
}
.profileName p:first-child{
    font-size: 2rem;
}
.profileName p:last-child{
    font-size: 0.9rem;
    line-height: 0.7rem;
}
.leftLogo img{
    display: flex;
    height: 5rem;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    clip-path: circle();
    margin-left: 1.6rem;
}
.profileInfo{
    margin-top: 1rem;
}